* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);

}

#cabecalho {
  position: fixed;
  margin: 10px;
  padding: 10px;
  border: 0px;
}

#titulo {
  font-size: large;
  color: rgb(77, 55, 55);
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -1px;
}

#licoes_aprendidas {
  margin-left: 20px;
}

#licoes_a_aprender {
  margin-left: 20px;
  padding-top: 20px;
}

th {
  padding: 12px;
  width: 55%;
  text-align: left;
}

#meu_aprendizado {
  line-height: 20px;
}