* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(253, 251, 251);

}

#cabecalho {
  position: fixed;
}

#titulo {
  font-size: large;
}

#licoes_aprendidas {
  margin-left: 20px;
}

#licoes_a_aprender {
  margin-left: 20px;
  padding-top: 20px;
}